.home-container{
    background-image: url("https://images.prismic.io//intuzwebsite/3c2cd2c5-d0a3-4386-9bab-2463976c3343_Smart+Cities.png?w=1200&q=80&auto=format,compress&fm=png8");
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    padding-right:40px ;
    background-size: cover;
}
.register-button{
    background-color: transparent;
    border-color:white;
    border: 4x solid;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-right: 20px;
    cursor: pointer;
}
.register-button:hover{
    background-color: #e46741;
    border: 0px;
}
.login-button{
    background-color: transparent;
    border-color:white;
    border: 4x solid;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-right: 20px;
    cursor: pointer;
}
.login-button:hover{
    background-color: lightgreen;
    border: 0px;
}
.home-page-buttons-container{
    align-self: flex-end;
}
.home-page-content{
    color: white;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    align-self: center;
    margin-top: 15%;
    text-align: center;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }